<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v2.0.50727" />
  </startup>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.110.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>


  <appSettings>
    <add key="nox_path" value="D:\Program Files\Nox\" />
    <add key="memu_path" value="D:\Program Files\Microvirt\" />
    <add key="timetocreate" value="55" />
    <add key="big_interval" value="22" />
    <add key="step_interval" value="1000" />

    <add key="step_interval" value="1000" />
    <add key="RegStepInterval" value="1000" />
    <add key="LoopStepInterval" value="300" />
    <add key="MethodSMS" value="3" />
    <add key="AndroidVersion" value="7" />

    <add key ="vm_params" value="-resolution:700x650 -dpi:160 -screen:vertical -cpu:2 -memory:1024 -imei:864394100050568 -model:Nexus5 -manufacturer:google -brand:Xiaomi" />

    <add key="autostart" value="0" />
    <add key="work_mode" value="sender" />
    <add key="msg_mode" value="picture" />
    <add key="default_messenger" value="whatsapp" />
    <add key="default_sms_service" value="0" />
    <add key="default_country" value="0" />
    <add key="sms_timeout" value="180" />
    <add key="mysql_host" value="127.0.0.1" />
    <add key="mysql_login" value="root" />
    <add key="mysql_pass" value="++++++" />
    <add key="mysql_db" value="tnt_sender" />
    <add key="check_number" value="+79538000300" />
    <add key="china_apiurl" value="http://china-numbers.shn-host.ru/" />
    <add key="china_apikey" value="http://china-numbers.shn-host.ru/" />

    <add key="service0" value="http://sms-activate.ru" />
    <add key="apiurl0" value="http://sms-activate.ru/stubs/handler_api.php" />
    <add key="apikey0" value="66c7875e922ee20b3631bc699302A564" />

    <add key="service1" value="http://5sim.net" />
    <add key="apiurl1" value="http://sms-activate.api.5sim.net/stubs/handler_api.php" />
    <add key="apikey1" value="04861d7f6c64481f8be8445650c1815a" />

    <add key="service2" value="http://smshub.org" />
    <add key="apiurl2" value="https://smshub.org/stubs/handler_api.php" />
    <add key="apikey2" value="505Uab00c6e2dfbe98a38e94b0f11090364b" />

    <add key="service3" value="http://simsms.org" />
    <add key="apiurl3" value="http://simsms.org/stubs/handler_api.php" />
    <add key="apikey3" value="505Uab00c6e2dfbe98a38e94b0f11090364b" />
   


    <add key="service4" value="https://sms-online.pro" />
    <add key="apiurl4" value="https://sms-online.pro/stubs/handler_api.php" />
    <add key="apikey4" value="0SHOSOCEFWRUGM5ML17KBMSO0MWW02E8UPTJDETGJRSAUECTP8AUEJFF0ZCQ" />

    <add key="xservice1" value="http://SMS-REG.com" />
    <add key="xapiurl1" value="http://SMS-REG.com/stubs/handler_api.php" />
    <add key="xapikey1" value="e748abvqgu1q3x5y3sae8a1obdhg5cll" />

    <add key="xservice2" value="http://onlinesim.ru/" />
    <add key="xapiurl2" value="http://onlinesim.ru//stubs/handler_api.php" />
    <add key="xapikey2" value="" />




    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>